body {
    font-family: Arial, sans-serif;
    background-color: #f8f6f8;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 4rem; /* Updated padding to use rem units */
    padding-bottom: 1rem; /* Updated padding to use rem units */
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    text-align: center;
    width: 100%;
  }
  
  .login-form {
    width: 100%;
    max-width: 70%; /* Updated max-width to use % units */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem; /* Updated padding to use rem units */
  }
  
  .logo {
    max-width: 10rem; /* Updated max-width to use rem units */
    margin: 1rem auto; /* Updated margin to use rem units */
  }
  
  .login-box {
    background-color: #fff;
    border-radius: 1rem; /* Updated border-radius to use rem units */
    padding: 2rem; /* Updated padding to use rem units */
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); /* Updated box shadow */
    flex: 1;
    margin: 1rem;
  }
  
  .login-box label {
    display: block;
    font-weight: bold;
    margin-top: 0.1rem; /* Updated margin to use rem units */
    margin-bottom: 0.1rem; /* Updated margin to use rem units */
    padding: 0.2rem; /* Updated padding to use rem units */
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 0.7rem; /* Updated padding to use rem units */
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button {
    width: 110%;
    padding: 1rem; /* Updated padding to use rem units */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem; /* Updated margin to use rem units */
  }
  
  .dropdwn {
    padding: 1rem; /* Updated padding to use rem units */
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 110%;
    height: 13%; /* Updated height to use % units */
    color: #000;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 0.1rem; /* Updated margin to use rem units */
  }
  
  .images-container {
    flex: 1;
    text-align: center;
    margin: 1rem;
  }
  
  .image-slideshow {
    max-width: 100%;
    height: auto;
  }
  
  .footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0; /* Updated padding to use rem units */
    clear: both;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .login-box,
    .images-container {
      margin: 1rem 0; /* Updated margin to use rem units */
    }
  }